<div class="top-parallax" ng-include src="'app/views/structure/top.tpl.html'" parallax parallax-ratio="0.2"></div>
    
<article class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>구성원</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>저희는 SW Maestro 6기 연수생입니다. <br>이 홈페이지는 SW Maestro 6기 1단계 2차 프로젝트 - ComDoc(멘토: 서우석) 팀 프로젝트로 완성되었습니다.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="content-panel">
                    <div class="row team">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img class="img-responsive" ng-src="assets/img/about/민종현.jpg" alt="" />
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="content-panel" >
                                <h3>민종현</h3>
                                <h4>- Developer</h4>
                                <p>SW Maestro 6기 연수생
                                <br>고려대학교<br>
                                <a href="mailto:alswhdgus10@gmail.com">alswhdgus10@gmail.com</a>
                                </p>
                            </div>
                            <ul class="team-social social">
                                <li>
			                        <a href="https://www.facebook.com/koreamin?fref=ts" class="social-facebook"></a>
			                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="content-panel">
                    <div class="row team">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img class="img-responsive" ng-src="assets/img/about/변동남.jpg" alt="" />
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="content-panel" >
                                <h3>변동남</h3>
                                <h4>- Developer</h4>
                                <p>SW Maestro 6기 연수생
                                <br>한양대학교<br>
                                <a href="mailto:east928@gmail.com">east928@gmail.com</a>
                                </p>
                            </div>
                            <ul class="team-social social">
                                <li>
			                        <a href="https://www.facebook.com/dongnamb" class="social-facebook"></a>
			                    </li>
			                    <li>
			                        <a href="https://plus.google.com/u/0/116358666959266662805/about" class="social-google-plus"></a>
			                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="content-panel">
                        <div class="row team">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <img class="img-responsive" ng-src="assets/img/about/위가혜.jpeg" alt="" />
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="content-panel" >
                                    <h3>위가혜</h3>
                                    <h4>- Developer</h4>
                                    <p>SW Maestro 6기 연수생
                                    <br>숭실대학교<br>
                                    <a href="mailto:dnlrkgp@gmail.com">dnlrkgp@gmail.com</a>
                                    </p>
                                </div>
                                <ul class="team-social social">
                                    <li>
				                        <a href="https://www.facebook.com/profile.php?id=100004764933744&fref=ts" class="social-facebook"></a>
				                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="content-panel">
                        <div class="row team">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <img class="img-responsive" ng-src="assets/img/about/강성훈.jpg" alt="" />
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="content-panel" >
                                    <h3>강성훈</h3>
                                    <h4>- Service Engineer</h4>
                                    <p>SW Maestro 6기 연수생
                                    <br>동국대학교<br>
                                    <a href="http://blog.plusquare.com">http://blog.plusquare.com</a>
                                    </p>
                                </div>
                                <ul class="team-social social">
                                    <li>
                                        <a href="https://www.facebook.com/shk.417" class="social-facebook"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="content-panel">
                        <div class="row team">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <img class="img-responsive" ng-src="assets/img/about/서우석.jpg" alt="" />
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="content-panel" >
                                    <h3>서우석</h3>
                                    <h4>- Advisor</h4>
                                    <p>SW Maestro 멘토
                                    <br>요기요 CTO<br>
                                    </p>
                                </div>
                                <ul class="team-social social">
                                    <li>
                                        <a href="https://www.facebook.com/naggingmachine?ref=ts&fref=ts" class="social-facebook"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>