<div class="top-parallax large" ng-include src="'app/views/structure/top.tpl.html'" parallax parallax-ratio="0.2"></div>

<article class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>Log In</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>로그인 페이지입니다.<br> 아직 회원이 아니신 분은 회원가입 버튼을 눌러 회원가입을 해주시길 바랍니다.<br><br></p>
                    <p>
                      <a class="btn btn-block btn-info" href="{{ Root }}/mobile/register">회원가입</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
